body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:478px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  position:absolute;
  left:0px;
  top:70px;
  width:478px;
  height:221px;
  opacity:0;
}
#u65 {
  position:absolute;
  left:2px;
  top:102px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:221px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000CC;
}
#u66 {
  position:absolute;
  left:0px;
  top:70px;
  width:74px;
  height:221px;
  color:#0000CC;
}
#u67 {
  position:absolute;
  left:2px;
  top:103px;
  width:70px;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:311px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u68 {
  position:absolute;
  left:0px;
  top:291px;
  width:74px;
  height:311px;
  opacity:0.5;
  color:#FF0000;
}
#u69 {
  position:absolute;
  left:2px;
  top:148px;
  width:70px;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:311px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  position:absolute;
  left:74px;
  top:291px;
  width:404px;
  height:311px;
}
#u71 {
  position:absolute;
  left:2px;
  top:148px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  position:absolute;
  left:84px;
  top:77px;
  width:140px;
  height:40px;
}
#u73 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  position:absolute;
  left:84px;
  top:117px;
  width:140px;
  height:40px;
}
#u75 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:84px;
  top:157px;
  width:140px;
  height:40px;
}
#u77 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  position:absolute;
  left:84px;
  top:197px;
  width:140px;
  height:40px;
}
#u79 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u80 {
  position:absolute;
  left:7px;
  top:8px;
  width:48px;
  height:50px;
}
#u81 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:44px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u82 {
  position:absolute;
  left:74px;
  top:294px;
  width:404px;
  height:44px;
  opacity:0.5;
  font-size:18px;
  color:#0000FF;
}
#u83 {
  position:absolute;
  left:2px;
  top:11px;
  width:400px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:84px;
  top:418px;
  width:62px;
  height:16px;
}
#u85 {
  position:absolute;
  left:16px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u84_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:50px;
}
#u86 {
  position:absolute;
  left:93px;
  top:358px;
  width:42px;
  height:50px;
}
#u87 {
  position:absolute;
  left:2px;
  top:17px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:240px;
  top:418px;
  width:100px;
  height:16px;
}
#u89 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u88_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
}
#u90 {
  position:absolute;
  left:240px;
  top:359px;
  width:50px;
  height:49px;
}
#u91 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:369px;
  top:419px;
  width:100px;
  height:16px;
}
#u93 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u92_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:50px;
}
#u94 {
  position:absolute;
  left:369px;
  top:359px;
  width:44px;
  height:50px;
}
#u95 {
  position:absolute;
  left:2px;
  top:17px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:178px;
  top:526px;
  width:100px;
  height:16px;
}
#u97 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u96_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u98 {
  position:absolute;
  left:178px;
  top:458px;
  width:46px;
  height:50px;
}
#u99 {
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:321px;
  top:526px;
  width:100px;
  height:16px;
}
#u101 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u100_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:50px;
}
#u102 {
  position:absolute;
  left:321px;
  top:458px;
  width:42px;
  height:50px;
}
#u103 {
  position:absolute;
  left:2px;
  top:17px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:206px;
  top:565px;
  width:140px;
  height:25px;
}
#u104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
