body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:464px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:602px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:602px;
}
#u1 {
  position:absolute;
  left:2px;
  top:293px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:44px;
}
#u2 {
  position:absolute;
  left:191px;
  top:63px;
  width:70px;
  height:44px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4 {
  position:absolute;
  left:15px;
  top:250px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:15px;
  top:315px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:100px;
  top:250px;
  width:300px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:100px;
  top:312px;
  width:300px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:162px;
  top:444px;
  width:140px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u11 {
  position:absolute;
  left:7px;
  top:172px;
  width:457px;
  height:191px;
  overflow:hidden;
}
#u11_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:191px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u12 {
  position:absolute;
  left:91px;
  top:53px;
  width:232px;
  height:26px;
  font-size:20px;
  text-align:center;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:66px;
  top:123px;
  width:283px;
  height:42px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:406px;
  top:14px;
  width:50px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
